body {
  margin: 0;
  font-family: Calibri;
}
dt {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}
.mb {
  height: 15px;
}
.stroke {
  color: #2c428d;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 5px;
  line-height: 25px;
  font-weight: bold;
}
p {
  font-size: 18px;
}
.menu {
  background-color: #192138;
  font-weight: bold;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 270px;
  overflow-y: auto;
}
.content {
  border-left: 10px solid #1e2d5f;
  background-color: #9fb9cc;

  margin-left: 270px;
  padding: 10px;
}
.content a {
  color: #1976d2;
}
img {
  max-width: 100%;
  display: block;
  padding: 10px 0;
}
ul {
  list-style-type: square;
  margin: 4px 0;
  font-style: italic;
  font-weight: normal;
}
ul ul {
  list-style-type: circle;
}
li {
  margin: 2px 0;
}
ol {
  color: #bbdefb;
}
a {
  text-decoration: none;
  color: #bdd6eb;
  transition: 0.3s;
}
h2 {
  margin: 0;
  padding: 10px;
}
a:hover {
  color: #2c428d;
  border: none;
}
.logo {
  margin: 0 auto;
  transform: translateX(-20px);
  padding: 0;
}
.logo1 {
  background: left / cover url("IMG/heder_fon.png");
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  font: bold calc(1em + 1 * (100vw - 120px) / 100) "Dancing Script", fantasy;
  color: #80d3f6;
  text-shadow: #000 2px 2px 0.2rem;
}
footer {
  background-color: #fff;
  padding: 4px;
  position: fixed;
  bottom: -1px;
  right: 10px;
  font-size: 16px;
  border-radius: 7px 7px 0 0;
  display: flex;
  align-items: center;
}
a.copy {
  color: #212121;
  font-weight: bold;
}
footer a .icon-github-circled:before {
  content: "\f09b";
  color: #000;
}
footer a .icon-youtube-play:before {
  content: "\f16a";
  color: #f00;
}
footer a .icon-vkontakte:before {
  content: "\f189";
  color: #4a76a8;
}
@media screen and (max-width: 768px) {
  .menu {
    position: initial;
    width: 100%;
    overflow: auto;
  }
  .content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .mb {
    height: 20px;
  }
}
.header {
  background: #636bd8;
  position: sticky;
  top: 0;
  z-index: 10; /* Не так высокое значение как в "фиксированном" варианте, но всё же выше обычного контента */
}
.container_text {
  margin: 10px auto;
  inline-size: 100%;
  padding: 30px;
  font-size: 18px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
