*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
  inline-size: 1200px;
  margin: 0 auto;
}
.header {
  background: #636bd8;
  position: sticky;
  top: 0;
  z-index: 10; /* Не так высокое значение как в "фиксированном" варианте, но всё же выше обычного контента */
}

.logo {
  background: left / cover url("IMG/heder_fon.png");
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  font: bold calc(1em + 1 * (100vw - 120px) / 100) "Dancing Script", fantasy;
  color: #80d3f6;
  text-shadow: #000 2px 2px 0.2rem;
}

main {
  width: 100%;
}

.container {
  inline-size: 100%;
  margin: 0 auto;
  padding: 30px;
  background: #ffffff;
  border-inline-end: 50px solid #d9e6f3;
  border-inline-start: 50px solid #d9e6f3;
}
.container_text {
  margin: 10px auto;
  inline-size: 100%;
  padding: 30px;
  font-size: 18px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.container_grid {
  display: block;
  unicode-bidi: isolate;
}

.ramka {
  font-size: 16px;
  background-color: rgb(235, 241, 245);
  color: #000;
  font-family: "Courier New", Courier, monospace;
  inline-size: 100%;
  margin: 20px 0 20px 0;
}

.pictures {
  margin: 20px auto;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 100%;
}
.pictures1 {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 70%;
}
.pictures2 {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 50%;
}
span {
  font-size: 18px;
  color: #d13708;
  background: #e3f1fa;
}
.span {
  font-size: 18;
  color: #000;
  background: yellow;
}
.anchor {
  display: inline-block;
  margin-right: 0.25rem;
  vertical-align: text-bottom;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a0b0bb),
    to(#3e5d75)
  );
  background: linear-gradient(to right, #a0b0bb, #3e5d75);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-decoration: none;
}
kbd {
  background: var(--prcd-kbd-bg, #dcdcdc);
  border-width: 3px 4px 5px;
  border-style: solid;
  border-color: var(--prcd-kbd-brdc, #cdcdcd #c9c9c9 #c0c0c0);
  padding: 0 10px;
  font-size: 14px;
  color: var(--prcd-kbd-color, #333);
  border-radius: 3px;
  line-height: 36px;
}

[mytitle] {
  cursor: pointer;
}
[mytitle]:after {
  content: " ";
  transition: 0.1s;
}
[mytitle]:hover:after {
  width: 550px;
  content: attr(mytitle);
  background-color: #e9a333;
  padding: 2px;
  z-index: 100;
}
p {
  max-width: max-content;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    position: initial;
    width: 100%;
    overflow: auto;
  }
}
