*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
  inline-size: 1200px;
  margin: 0 auto;
}
.header {
  background: #636bd8;
  position: sticky;
  top: 0;
  z-index: 10; /* Не так высокое значение как в "фиксированном" варианте, но всё же выше обычного контента */
}

.logo {
  background: left / cover url("IMG/heder_fon.png");
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  font: bold calc(1em + 1 * (100vw - 120px) / 100) "Dancing Script", fantasy;
  color: #80d3f6;
  text-shadow: #000 2px 2px 0.2rem;
}

main {
  width: 100%;
}

.container {
  inline-size: 100%;
  margin: 0 auto;
  padding: 30px;
  background: #ffffff;
  border-inline-end: 50px solid #d9e6f3;
  border-inline-start: 50px solid #d9e6f3;
}
.container_text {
  margin: 10px auto;
  inline-size: 100%;
  padding: 30px;
  font-size: 18px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.container_grid {
  display: block;
  unicode-bidi: isolate;
}

.ramka {
  font-size: 16px;
  background-color: rgb(235, 241, 245);
  color: #000;
  font-family: "Courier New", Courier, monospace;
  inline-size: 100%;
  margin: 20px 0 20px 0;
}

.pictures {
  margin: 20px auto;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 100%;
}
.pictures1 {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 70%;
}
.pictures2 {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 50%;
}
span {
  font-size: 18px;
  color: #d13708;
  background: #e3f1fa;
}
.span {
  font-size: 18;
  color: #000;
  background: yellow;
}
.anchor {
  display: inline-block;
  margin-right: 0.25rem;
  vertical-align: text-bottom;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a0b0bb),
    to(#3e5d75)
  );
  background: linear-gradient(to right, #a0b0bb, #3e5d75);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-decoration: none;
}
kbd {
  background: var(--prcd-kbd-bg, #dcdcdc);
  border-width: 3px 4px 5px;
  border-style: solid;
  border-color: var(--prcd-kbd-brdc, #cdcdcd #c9c9c9 #c0c0c0);
  padding: 0 10px;
  font-size: 14px;
  color: var(--prcd-kbd-color, #333);
  border-radius: 3px;
  line-height: 36px;
}

[mytitle] {
  cursor: pointer;
}
[mytitle]:after {
  content: " ";
  transition: 0.1s;
}
[mytitle]:hover:after {
  width: 550px;
  content: attr(mytitle);
  background-color: #e9a333;
  padding: 2px;
  z-index: 100;
}
p {
  max-width: max-content;
}

#parent {
  display: grid;
  grid-template-columns: 25% 75%;
  border: 2px solid #696989;
  padding: 10px;
  width: 100%;
}
/* Стили для дочерних элементов внутри грид-контейнера */

#parent > div {
  /* padding: 10px; */
  border: 1px solid #696989;
}

#parent1 {
  display: grid;
  grid-template-columns: 10% 20% 30% 40%;
  border: 2px solid #696989;
  padding: 10px;
  width: 100%;
}
#parent1 > div {
  padding: 10px;
  border: 1px solid #696989;
}

#parent2 {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  border: 2px solid #696989;
  padding: 10px;
  width: 100%;
}
#parent2 > div {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #696989;
}
#parent3 {
  display: grid;
  grid-template-columns: 1fr 0.5fr 2.5fr;
  border: 2px solid #696989;
  padding: 10px;
  width: 100%;
}
#parent3 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#parent4 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
}

#parent5 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent6 {
  display: grid;
  grid-template-columns: 100px auto 150px;
  border: 2px solid #696989;
  padding: 10px;
  width: 100%;
}

#parent6 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent7 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  border: 2px solid #696989;
  padding: 10px;
}
#parent7 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent8 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  border: 2px solid #696989;
  padding: 10px;
}

#parent8 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent9 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  border: 2px solid #696989;
  padding: 10px;
  width: 600px;
}

#parent9 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent10 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  border: 2px solid #696989;
  padding: 10px;
  width: 400px;
}
#parent10 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent11 {
  display: grid;
  grid-template-rows: repeat(4, 50px);
  border: 2px solid #696989;
  padding: 10px;
}

#parent11 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent12 {
  display: grid;
  grid-template-rows: 100px auto 60px;
  border: 2px solid #696989;
  padding: 10px;
  width: 600px;
  height: 400px;
}

#parent12 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent13 {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  border: 2px solid #696989;
  padding: 10px;
  width: 600px;
  height: 400px;
}

#parent13 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent14 {
  display: grid;
  grid-template: 1fr 60px 60px / 20% 1fr 15%;
  border: 2px solid #696989;
  padding: 10px;
  width: 600px;
  height: 300px;
}
#parent14 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent15 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 300px;
  width: 400px;
  padding: 10px;
  border: 2px solid #696989;
}
#parent15 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#elem1 {
  grid-row: 1 / 3; /* два ряда */
}
#elem2 {
  grid-row: 1 / 2;
}
#elem3 {
  grid-row: 2 / 3;
}
#parent16 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 300px;
  width: 400px;
  padding: 10px;
  border: 2px solid #696989;
}

#parent16 > div {
  padding: 10px;
  border: 1px solid #696989;
}

#elem4 {
  grid-row: 1 / 2;
}

#elem5 {
  grid-row: 2 / 3;
}

#elem6 {
  grid-row: 3 / 4;
}

#elem7 {
  grid-row: 1 / 4;
}

#parent17 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 300px;
  width: 400px;
  padding: 10px;
  border: 2px solid #696989;
}
#parent17 > div {
  padding: 10px;
  border: 1px solid #696989;
}

#elem8 {
  grid-row: 1 / 2;
}

#elem9 {
  grid-row: 2 / 3;
}

#elem10 {
  grid-row: 1 / 2;
}

#elem11 {
  grid-row: 2 / 4;
}
#elem12 {
  grid-row: 3 / 4;
}

#parent18 {
  display: grid;
  padding: 10px;
  border: 2px solid #696989;
  width: 400px;
  height: 300px;
}

#parent18 > div {
  padding: 10px;
  border: 1px solid #696989;
}

#elem13 {
  grid-column: 1 / 2;
}

#elem14 {
  grid-column: 2 / 3;
}

#elem15 {
  grid-column: 3 / 4;
}

#elem16 {
  grid-column: 1 / 4;
}

#parent19 {
  display: grid;
  padding: 10px;
  border: 2px solid #696989;
  width: 400px;
  height: 300px;
}

#parent19 > div {
  padding: 10px;
  border: 1px solid #696989;
}

#elem17 {
  grid-column: 1 / 2;
}

#elem18 {
  grid-column: 2 / 4;
}

#elem19 {
  grid-column: 1 / 3;
}

#elem20 {
  grid-column: 3 / 4;
}

#parent20 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border: 2px solid #696989;
  padding: 10px;
  height: 300px;
  width: 400px;
}

#parent20 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#elem21 {
  grid-row: 1 / 3;
}
#elem22 {
  grid-row: 1 / 2;
}
#elem23 {
  grid-row: 1 / 2;
}
#elem24 {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

#parent21 {
  display: grid;
  padding: 10px;
  border: 2px solid #696989;
  width: 400px;
  height: 300px;
}
#parent21 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#elem25 {
  grid-column: 1 / 4;
}
#elem26 {
  grid-column: 2 / 3;
}
#elem27 {
  grid-column: 1 / 2;
}
#elem28 {
  grid-column: 3 / 4;
}
#parent22 {
  display: grid;
  padding: 10px;
  border: 2px solid #696989;
  width: 400px;
  height: 300px;
}
#parent22 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#elem29 {
  grid-column: 1 / 3;
}
#elem30 {
  grid-column: 2 / 4;
}
#elem31 {
  grid-column: 3 / 5;
}
#parent23 {
  display: grid;
  column-gap: 20px;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  padding: 10px;
  border: 2px solid #696989;
  width: 600px;
  height: 200px;
}
#parent23 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent24 {
  display: grid;
  row-gap: 10px;
  padding: 10px;
  border: 2px solid #696989;
  width: 600px;
  height: 200px;
}
#parent24 > div {
  padding: 10px;
  border: 1px solid #696989;
}
#parent25 {
  display: grid;
  gap: 10px;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  padding: 10px;
  border: 2px solid #696989;
  width: 600px;
  height: 200px;
}
#parent25 > div {
  padding: 10px;
  border: 1px solid #696989;
}
